/* 
=================
navigation
=================

01 - Reset
02 - Variables
03 - Typography
*/

/* 01 - Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

img {
  max-width: 100%;
  display: block;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.125rem;
}

/* 02 - variables */
:root {
  --clr-primary-red: hsl(7, 99%, 70%);
  --clr-primary-yellow: hsl(51, 100%, 49%);
  --clr-primary-blue: hsl(198, 62%, 26%);
  --clr-primary-dark-cyan: hsl(167, 40%, 24%);
  --clr-primary-moderate-cyan: hsl(168, 34%, 41%);

  --clr-neutral-dark-blue: hsl(212, 27%, 19%);
  --clr-neutral-grayish-blue-d: hsl(213, 9%, 39%);
  --clr-neutral-grayish-blue: hsl(210, 4%, 67%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  --ff-barlow: "Barlow", sans-serif;
  --ff-fraunces: "Fraunces", serif;

  --fw-normal: 600;
  --fw-bold: 700;
  --fw-dark: 900;
}

/* 03 - Typography */
body {
  font-family: var(--ff-barlow);
  text-align: center;
  color: var(--clr-neutral-grayish-blue-d);
  font-weight: var(--fw-normal);
}

.title,
.testimonial__name {
  font-family: var(--ff-fraunces);
}

.menu__btn {
  text-transform: uppercase;
  font-family: var(--ff-fraunces);
  color: var(--clr-neutral-dark-blue);
  background-color: var(--clr-primary-yellow);
  padding: 0.5em;
  border-radius: 50px;
}

.hero__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  line-height: 1;
  font-weight: var(--fw-dark);
  color: var(--clr-neutral-white);
}

.content__item__title {
  color: var(--clr-neutral-dark-blue);
  font-weight: var(--fw-bold);
  font-size: 2rem;
}

.content__item__cta {
  position: relative;
  font-family: var(--ff-fraunces);
  color: var(--clr-neutral-dark-blue);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}
.content__item__cta::after {
  --clr-primary-yellow: hsl(50, 82%, 82%);

  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 80%;
  z-index: -1;
  transform: translate(-50%, -50%);
  height: 8px;
  width: 150px;
  background-color: var(--clr-primary-yellow);
  border-radius: 10px;
}
.content__item__cta:nth-child(1)::after {
  background-color: var(--clr-primary-red);
}
